@font-face {
  font-family: 'BBC Reith Sans';
  src: url("../fonts/BBCReithSans_W_Bd.eot");
  src: url("../fonts/BBCReithSans_W_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/BBCReithSans_W_Bd.woff") format("woff"), url("../fonts/BBCReithSans_W_Bd.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'BBC Reith Sans';
  src: url("../fonts/BBCReithSans_W_Md.eot");
  src: url("../fonts/BBCReithSans_W_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BBCReithSans_W_Md.woff") format("woff"), url("../fonts/BBCReithSans_W_Md.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #45494f;
  background-color: #e5e5e5;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: "BBC Reith Sans", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.navbar {
  font-size: 17px;
  line-height: 20px;
}

.navbar-nav {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    margin-left: 136px;
  }
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: 121px;
    margin-right: 121px;
  }
}

.nav-color {
  color: #45494f;
  border: 2px solid #fff;
}

.nav-color:hover, .nav-color:focus {
  color: #2e75ff;
  border: 2px solid #eaedf5;
  border-radius: 8px;
}

.active {
  color: #2e75ff;
  border: 2px solid #eaedf5;
  border-radius: 8px;
}

.active .icon {
  stroke: #2e75ff;
}

.icon {
  display: inline-block;
  margin: auto 5px;
  stroke: #45494f;
}

.nav-color:hover .icon,
.nav-color:focus .icon {
  stroke: #2e75ff;
}

.mixer {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .mixer {
    margin-left: 121px;
    margin-right: 121px;
    max-width: 1200px;
  }
}

.padding-hero {
  padding-top: 70px;
  padding-bottom: 40px;
}

.padding-hero .row {
  min-height: 100%;
}

.title-hero {
  font-size: 48px;
  line-height: 70px;
  letter-spacing: -0.4px;
  color: #1652ac;
  position: relative;
  padding-left: 0;
  padding-bottom: 62px;
}

.title-hero:after {
  display: block;
  content: '';
  width: 227px;
  height: 7px;
  background-color: #edeff3;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.description-hero {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #020303;
  padding-left: 0;
  padding-right: 100px;
  padding-bottom: 62px;
  position: relative;
}

.description-hero:after {
  display: block;
  content: '';
  width: 227px;
  height: 7px;
  background-color: #edeff3;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.padding-leistungen {
  padding-top: 40px;
}

.title-leistungen {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2.42px;
  margin-bottom: 23px;
  color: #1652ac;
}

.description-leistungen {
  font-size: 17px;
  line-height: 32px;
  color: #45494f;
  margin-bottom: 20px;
  padding-right: 100px;
}

.padding-bottom {
  padding-bottom: 100px;
  margin-bottom: 0;
}

.thumb {
  padding-right: 0;
}

.thumb img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.image-position {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-accent-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#163da2), to(#003584));
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);
}

.color-and-padding {
  color: #fbfdff;
  padding-right: 220px;
}

.thumb-leistungen {
  padding: 0;
}

.thumb-leistungen img {
  display: block;
  max-width: 100%;
  max-height: 729px;
}

.padding-leistungen-unsere {
  padding: 0;
}

.padding-leistungen-unsere img {
  display: block;
  max-width: 100%;
  max-height: 500px;
}

.unsere {
  padding-top: 91px;
}

.description-unsere {
  padding-right: 0;
}

.padding-left {
  padding-left: 121px;
}

.bg-color-secondary {
  background-color: #fbfbfc;
  border-bottom: 2px solid #eef0f4;
}

.ihre-vorteile {
  background-color: inherit;
  margin-bottom: 57px;
}

.ihre-vorteile h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  color: #020303;
  padding-top: 67px;
  padding-bottom: 42px;
}

.ihre-vorteile .col-md-4 {
  padding: 4px;
}

.box-ihre {
  width: 100%;
  min-height: 136px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 4px;
  margin: 0;
  background: #ffffff;
}

.box-ihre p {
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #45494f;
  padding-right: 49px;
}

.box-ihre img {
  margin-left: auto;
  margin-right: auto;
}

.box-ihre .not-padding {
  padding: 0;
}

.hauptmerkmale {
  background: inherit;
  margin-bottom: 74px;
}

.hauptmerkmale-bg {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.hauptmerkmale-bg h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  color: #020303;
  padding-top: 43px;
  padding-bottom: 71px;
}

.hauptmerkmale-bg div {
  font-size: 17px;
  line-height: 35px;
  letter-spacing: -0.4px;
  color: #45494f;
}

.hauptmerkmale-bg .row {
  padding-bottom: 40px;
}

.hauptmerkmale-bg .col-md-6 {
  padding-left: 52px;
}

.bilder {
  background: inherit;
}

.bilder h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  color: #020303;
  margin-bottom: 31px;
}

.bilder .active {
  border: none;
}

.carousel-item img {
  height: 813px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
          box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  width: 126px;
  height: 78px;
  z-index: 2;
  top: 90%;
  left: 35%;
}

.carousel-control-next {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
          box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  width: 126px;
  height: 78px;
  z-index: 2;
  top: 90%;
  right: 35%;
}

.carousel-inner {
  padding-bottom: 200px;
}

.carousel-indicators {
  top: 85%;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005be4), to(rgba(0, 96, 241, 0))), #004fc7;
  background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%), #004fc7;
  border: 1px solid #bed8ff;
}
/*# sourceMappingURL=main.css.map */