.bilder {
  background: inherit;
  margin: 0 12px 0 12px;
  @media screen and (min-width: 992px) {
    margin: 0;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 4.42px;

    color: $text-color;

    margin-bottom: 18px;
    @media screen and (min-width: 992px) {
      font-size: 28px;
      margin-bottom: 31px;
    }
  }

  .active {
    border: none;
  }
}

.carousel-item {
  img {
    object-fit: contain;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 992px) {
      height: 813px;
    }
  }
}

.carousel-control-prev {
  top: 90%;
  left: 35%;
}

.carousel-control-next {
  top: 90%;
  right: 35%;
}

.carousel-inner {
  padding-bottom: 100px;
}

.carousel-indicators {
  top: 85%;
  @media screen and (min-width: 992px) {
    top: 95%;
  }
  & [data-bs-target] {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    margin-left: 12px;
    background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%),
      #004fc7;
    border: 1px solid #bed8ff;
  }
}

.thumb-bilder {
  margin-bottom: 50px;
  @media screen and (min-width: 992px) {
    margin-bottom: 150px;
  }
  button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    @media screen and (min-width: 992px) {
      background: #ffffff;
      box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
      border-radius: 8px;
      width: 126px;
      height: 78px;
      z-index: 2;
      overflow: visible;
      clip: unset;
    }
  }
}
