.footer {
  background-color: $bacground-color;
}

.footer-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;

  color: $footer-text-color;
}

.footer-description {
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin: 0;
  list-style: none;
  padding: 0;

  color: $footer-second-text-color;
}

.color-tel {
  color: black;
  text-decoration: none;
}

.color-link {
  display: block;
  color: $footer-second-text-color;
}
