body {
  //   color: $primary-text-color;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: $primary-white-color;
  background-color: #e5e5e5;

  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  background-color: $bacground-second-color;
}
