.hauptmerkmale {
  background: inherit;
  margin-bottom: 74px;
  margin: 56px 12px 32px 12px;
  @media screen and (min-width: 992px) {
    margin: 56px 0 74px 0;
  }
}

.hauptmerkmale-bg {
  background: $bacground-color;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 4.42px;

    color: $text-color;

    padding-top: 43px;
    padding-bottom: 37px;
    @media screen and (min-width: 992px) {
      font-size: 28px;
      padding-bottom: 71px;
    }
  }

  div {
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.4px;

    color: $primary-text-color;
  }

  .row {
    padding-bottom: 20px;
    @media screen and (min-width: 992px) {
      padding-bottom: 40px;
    }
  }

  .col-md-6 {
    @media screen and (min-width: 992px) {
      padding-left: 52px;
    }
  }
}

.border-element {
  position: relative;
  @media screen and (min-width: 992px) {
    position: static;
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 227px;
    height: 1px;
    background-color: #eef0f4;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 992px) {
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
