.ihre-vorteile {
  background-color: $bacground-second-color;
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;

    color: $text-color;

    padding-top: 67px;
    padding-bottom: 42px;
  }
}
