.padding-leistungen {
  padding-top: 40px;
}

.title-leistungen {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2.42px;

  margin-bottom: 23px;
  padding: 40px 0px 0 0px;
  color: $accent-color;
  @media screen and (min-width: 992px) {
    padding: 0px 15px 0 15px;
    text-align: left;
    font-size: 20px;
    padding: 0;
  }
}

.description-leistungen {
  font-size: 17px;
  line-height: 32px;

  color: $primary-text-color;

  margin-bottom: 30px;
  @media screen and (min-width: 992px) {
    padding-right: 100px;
    margin-bottom: 20px;
  }
}

.padding-bottom {
  padding-bottom: 50px;
  margin-bottom: 0;
  @media screen and (min-width: 992px) {
    padding-bottom: 100px;
  }
}

.thumb {
  padding-right: 0;
  padding-left: 0;
  img {
    display: block;
    max-width: 100%;
    @media screen and (min-width: 992px) {
      height: 100%;
    }
  }
}

.image-position-Energieeffizienz {
  height: auto;
}

.thumb-iconhottocold {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  height: 330px;
  @media screen and (min-width: 992px) {
    height: 100%;
  }
  img {
    display: block;
    max-width: 100%;
    @media screen and (min-width: 992px) {
      height: 100%;
    }
  }
}

.image-positions {
  object-fit: contain;
  transform: translate(-80px, -80px) scale(1.5);

  @media screen and (min-width: 992px) {
    transform: none;
    object-fit: cover;
  }
}

.bg-accent-color {
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);
}

.color-and-padding {
  color: $primary-white-color;
  text-align: left;
  padding-left: 0;
  @media screen and (min-width: 992px) {
    padding-right: 220px;
    padding-top: 0;
  }
}

.font-modernste {
  font-size: 16px;
  @media screen and (min-width: 992px) {
    font-size: 17px;
  }
}

.thumb-leistungen {
  padding: 0;
  img {
    display: block;
    max-width: 100%;
    max-height: 729px;
    height: auto;
  }
}

.padding-leistungen-unsere {
  padding: 0;
  img {
    display: block;
    max-width: 100%;
    max-height: 500px;
  }
}

.unsere {
  padding-top: 0px;
  @media screen and (min-width: 992px) {
    padding-top: 91px;
    padding-right: 40px;
  }
}

.description-unsere {
  padding-right: 0;
  span {
    font-style: italic;
    @media screen and (min-width: 992px) {
      font-style: normal;
    }
  }
}

.padding-left {
  @media screen and (min-width: 992px) {
    padding-left: 121px;
    padding-right: 30px;
  }
}
