.header {
  background-color: $bacground-color;
}

.navbar {
  font-size: 17px;
  line-height: 20px;
}

.navbar-nav {
  width: 100%;
  @media screen and (min-width: 992px) {
    margin-left: 136px;
  }
}

.container {
  margin: 0;
  width: 100%;
  @media screen and (min-width: 992px) {
    margin-left: 121px;
    margin-right: 121px;
  }
}

.nav-color {
  color: $primary-text-color;
  border: 2px solid #fff;

  &:hover,
  &:focus {
    color: $hover-text-color;
    border: 2px solid #eaedf5;
    border-radius: 8px;
  }
}

.active {
  color: $hover-text-color;
  border: 2px solid #eaedf5;
  border-radius: 8px;
  .icon {
    stroke: $hover-text-color;
  }
}

.icon {
  display: inline-block;
  margin: auto 5px;
  stroke: $primary-text-color;

  .nav-color:hover &,
  .nav-color:focus & {
    stroke: $hover-text-color;
  }
}
