$primary-text-color: #45494f;
$text-color: #020303;
$hover-text-color: #2e75ff;
$accent-color: #1652ac;
$primary-white-color: #fbfdff;
$footer-text-color: #a3adba;
$footer-second-text-color: #9eabbb;
$icon-color: linear-gradient(332.71deg, #0043a7 -18.7%, #6377e3 80.5%);
$button-color: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%),
  #004fc7;
$bacground-three-color: linear-gradient(180deg, #163da2 0%, #003584 100%);
$bacground-second-color: #fbfbfc;
$bacground-color: #ffffff;
